#features {
  padding: 3rem 0;
  i {
    margin-bottom: 1rem;
    //color: lighten(black, 20%);
    color: #81c784;
  }
}

/**
 * SPDX-License-Identifier: (EUPL-1.2)
 * Copyright © 2019-2020 Werbeagentur Christian Aichner
 */
