#hero{
  .view {
    background-image: url('../../../assets/content/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
  }
  
  h6 {
    line-height: 1.7;
  }
  
  .form-check {
    margin-bottom: 0 !important;
  }

  .rgba-black-light, .rgba-black-light:after{
    background-color: rgba(0,0,0,0.4);
  }
}

/** 
 * SPDX-License-Identifier: (EUPL-1.2)
 * Copyright © 2019 Werbeagentur Christian Aichner
 */
